name: Deploy to Azure Web App

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Build and Push to ACR
      uses: azure/acr-build@v1
      with:
        registry: ${{ secrets.ACR_NAME }}
        repository: fastapi
        image: latest
        dockerfile: Dockerfile

    - name: Deploy to Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
        images: ${{ secrets.ACR_NAME }}.azurecr.io/simpleai:latest